<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        {{!-- <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span> --}}
        <a href="/{{post.id}}" target="_blank">{{post.title}}</a>
        {{!-- <span>({{post.post_url}})</span> --}}
      </div>
      <div class="meta">
       Created by {{username}} on
        {{post.created_at}}
        |
        <div>{{post.comments.length}} comment(s)</div>
        <div><a href="/updatepost/{{post.id}}"> Update Post</a></div>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

<script src="/javascript/createpost.js"></script>
<script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script>