<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <h2 class="title">
        {{!-- <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span> --}}
        <a href="/{{post.id}}" target="_blank">{{post.title}}</a>
        {{!-- <span>({{post.post_url}})</span> --}}
      </h2>
      <div class="meta">
        
       Created by {{post.user_id}} 
       
       Post:
        {{post.content}}
        |
        <div>{{post.comments.length}} comment(s)</div>
        <div><a href="/updatepost"> Update Post</a></div>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

<script src="/javascript/createpost.js"></script>
<script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script>