<article class="post">
    <div class="title">
        <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span>
        <div></div>
    </div>
    <div class="meta">
       Created by {{post.user_id}} on 
        {{post.created_at}}
        
        |
        <div>{{comments.length}} Comments</div>
    </div>
</article>

{{!-- {{#if loggedIn}} --}}
<form ID="comment-form">
  <div>
    <textarea id="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{!-- {{/if}} --}}

<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="user">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

<script src="/javascript/createpost.js"></script>
<script src="/javascript/updatepost.js"></script>
<script src="/javascript/comment.js"></script>